{% extends 'header.html' %}
{% block content %}
<section class="Houses" id="Houses">
    <strong>
        <h1>Houses</h1>
    </strong>
    <div class="properties">
        <div class="property-card">
            <div class="property-img">
                <img src="image/property" alt="property 1">
            </div>
            <div class="property">
                <strong>
                    <h2>property type</h2>
                </strong>
                <p>A breif describe about property. </p>
            </div>
            <div class="map">
                <strong>
                    <h2>property location</h2>
                </strong>
            </div>
        </div>
        <div class="property-card">
            <div class="property-img">
                <img src="image/property" alt="property 1">
            </div>
            <div class="property">
                <strong>
                    <h2>property type</h2>
                </strong>
                <p>A breif describe about property. </p>
            </div>
            <div class="map">
                <strong>
                    <h2>property location</h2>
                </strong>
            </div>
        </div>
        <div class="property-card">
            <div class="property-img">
                <img src="image/property" alt="property 1">
            </div>
            <div class="property">
                <strong>
                    <h2>property type</h2>
                </strong>
                <p>A breif describe about property. </p>
            </div>
            <div class="map">
                <strong>
                    <h2>property location</h2>
                </strong>
            </div>
        </div>
    </div>
</section>
{% endblock %}
