<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">

    
</head>
<body>
    <div class="signup-box">
        <p>Sign Up</p>
        <form>
            <div class="user box">
                <input required="" name="mobile" type="tel" pattern="[0-9]{10}"/>
                <label>Mobile Number</label>
            </div>
            <div class="user box">
                <input required="" name="password" type="password" minlength="8"/>
                <label>Create Password</label>
            </div>
            <button type="submit" class="signup-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Sign Up
            </button>
        </form>
       <p>Already have an account? <a href="Login" class="a2">Log in</a></p>

    </div>
</body>
</html>
